<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap" rel="stylesheet">


<div class = "hero-section">
<div class = "hero-content">
    <div class = "hero-border">
        <h2>Publish your stories in a simple way</h2>
        <h3>With texts and voices. Totally free</h3>
        <div class = "hero-button">
            <button routerLink = "blogs">Create your blog</button>
        </div>
    </div>
</div>
