<div class = "print-post">
    <div class = "print-box">
        <a>
            <div class = "post-img">
                <button>
                    <img [src] = 'imageEdit'>
                </button> 
                <button (click) = 'handleRemove()'>
                    <img [src] = 'imageBin'>
                </button> 
            </div>
            <u>{{post.title}}</u>
            <br>
            <p>{{post.content}}</p>
            <br>
            <i>Publised: {{post.created}}</i>
        </a>
    </div>
</div>