.comments {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .all-comments {
        width: 80%;
        border: 1px solid #ffffff;
        margin-top: 20px;
        padding: 20px;
        box-sizing: border-box;
    } 
}