<div class = "print-blog">
    <a routerLink="/posts/Blogs/{{blog.id}}" 
        routerLinkActive="active" 
        [routerLinkActiveOptions] = "{exact: true}" class = "blog-box">
        <p>www.basicallyblog.com/
            <br>
            <b>{{blog.title}}</b>
        </p>
    </a> 
    <a routerLink="/edit/Blogs/{{blog.id}}" 
        routerLinkActive="active" 
        [routerLinkActiveOptions] = "{exact: true}">
        <button>
            <img [src] = 'imageEdit'>
        </button>
    </a> 
    <button (click) = "handleRemove()">
        <img [src] = "imageBin">
    </button> 
</div>
