.print-blog {
    width: 100%;
    display: flex;
    margin: 20px;

    .blog-box {
        background-image: url("/../assets/img/box-image.jpeg");
        background-size: cover;
        background-position: top;
        opacity: 75%;
        width: 450px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        p {
            font-size: 1rem;
            color: #3b3b3b;
            width: 450px;
            text-align: center;
            background: #ffffff;

            b {
                font-size: 1.6rem;
                font-weight: bold;
                color: #000000;
            }
        }
    }

    .button-wrap {
        position: absolute;

        button {
            border: 0;
            height: 30px;
            margin-right: 1px;
            background: #ffffff;
            opacity: 60%;
            border-radius: 2px;

            img {
                width: 20px;
            }
        }
    }
}